<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AppWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-circle-user"style="margin-right:9px"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sobre">
                <i class="fa-solid fa-bars" style="margin-right:9px "></i> Sobre
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Curriculo">
                <i class="fa-solid fa-clipboard" style="margin-right:9px" ></i> Curriculo
            </NavLink>
        </div>
    </nav>
</div>

