@page "/Curriculo"
@layout Layout.BaseLayout
<PageTitle> Curriculo Manuela</PageTitle>
<link rel="stylesheet" href="Curriculo.css" />

<body style="background-color: lightyellow;"></body>
<div class="curriculo">
    <div class="menu"> <h1><img src="6073873.png" style="width: 100px">  Manuela Souza Silva </h1></div>

    <hr /> <p> CONTATO </p>
    <h2>Fone: (69) 999699023
    </h2> 
    <h2>Email: manuela.silva@estudante.ifro.edu.br</h2>

    <hr /> <p> FORMAÇÃO </p>
    <h2> Ensino Fundamental </h2>
    <h2> Ensino Medio em andamento </h2>

    <hr /> <p> HABILIDADES </p>
    <h2> Cozinho Comida com gosto aceitavel </h2>
    <h2> Sei matemática básica </h2>
    <h2> O mínimo da programação </h2>
    <h2> Sei dar meia cambalhota e meia estrelinha </h2>
    <h2> Sei mexer no word, mas não no excel </h2>
    <h2> Serviços Domésticos, incuindo cuidar de crianças </h2>


    <hr />  <p> IDIOMA </p>
    <h2> Português </h2>

    <hr />  <p> ESPERIÊNCIA </p>
    <h2> 2024 - Estagiaria no Projeto de impreção 3D das terras índigenas </h2>
    <h2> 2025 - Participo do projeto como bolsista nas impreçõras 3D </h2>

</div>

