@page "/Sobre"
<link rel="stylesheet" href="SobreMim.css" />

 <main class="grid">
    <div class = "box box1"> Sobre MANUELA </div>
</main>

   <body style="background-color: rgb(164, 187, 231);">

        <p>  Meu nome é Manuela Souza Silva, tenho 17 anos e minha data de nascimento é dia 19/12/2007 </p>
        <p>  Gosto de passar meu tempo livre lendo ou asistindo algo, passo tempo tambem com meus animais (tenho dois cachorros), Fazendo meus afazeres domesticos ou tarefas escolares.  </p>
        <p>  Estou no 3ª ano do encino medio integrado ao tecnico, no ifro.</p>
        <p>  Tenho um irmão de 5 anos. </p>

    </body>

<footer> Não se desaponte sobre mim por favor! </footer>

@code {

}
